.article-card{
	display: flex;
	align-items: flex-start;
	width: 100%;
	height: 100%;

	.card-image{
		position: relative;
		display: block;
		width: 190px;
		border-radius: 16px;
		overflow: hidden;
		flex: none;
		margin-right: 30px;

		&:before{
			content: '';
			display: block;
			padding-top: 63.15%;
			width: 100%;
			z-index: 2;
			position: relative;
			transition: all .5s;
		}

		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			transition: all .5s;
			display: block;
			object-fit: cover;
			object-position: center center;
			font-family: 'object-fit: cover; object-position: center center;';
		}

		&:after{
			content: '';
			display: block;
			width: 22px;
			height: 22px;
			border-radius: 50%;
			position: absolute;
			bottom: 6px;
			right: 6px;
			z-index: 2;
			transform: rotate(-90deg);
			background-color: $lightblue;

			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 490.4 490.4'%3e%3cpath fill='%23fff' d='M490.4 245.2C490.4 110 380.4 0 245.2 0S0 110 0 245.2s110 245.2 245.2 245.2 245.2-110 245.2-245.2zm-465.9 0c0-121.7 99-220.7 220.7-220.7s220.7 99 220.7 220.7-99 220.7-220.7 220.7-220.7-99-220.7-220.7z'/%3e%3cpath fill='%23fff' d='M253.9 360.4l68.9-68.9c4.8-4.8 4.8-12.5 0-17.3s-12.5-4.8-17.3 0l-48 48V138.7a12.3 12.3 0 10-24.6 0v183.4l-48-48c-4.8-4.8-12.5-4.8-17.3 0s-4.8 12.5 0 17.3l68.9 68.9c2.4 2.4 5.5 3.6 8.7 3.6s6.3-1.1 8.7-3.5z'/%3e%3c/svg%3e");

			background-repeat: no-repeat;
			background-position: center center;
			background-size: 16px 16px;
			transition: all $t;
		}

		&:hover{
			img{
				transform: scale(1.05);
			}

			&:before{
				opacity: 0;
			}

			&:after{
				background-color: $primary !important;
			}
		}

		&.with-overlay{
			&:before{
				background: rgba(#07778d, .5);
			}

			&:after{
				background-color: transparent;
			}
		}
	}

	.card-content{}

	.card-caption{
		font-size: 20px;
		line-height: 1.1;
		color: $lightblue;
		font-weight: bold;
		margin-bottom: 7px;

		a{
			color: inherit;

			&:hover{
				color: $primary;
			}
		}
	}

	&.big{
		flex-direction: column;

		.card-image{
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;

			&:after{
				width: 32px;
				height: 32px;
				bottom: 12px;
				right: 12px;
				background-size: 24px 24px;
			}

			@media screen and (max-width: 575px){
				&:before{
					padding-top: 250px;
				}
			}
		}

		.card-content{
			width: 100%;
		}
	}

	@media screen and (max-width: 479px){
		flex-direction: column;

		.card-image{
			width: 100%;
			margin-right: 0;
			margin-bottom: 10px;

			&:before{
				padding-top: 150px;
			}
		}

		.card-caption{
			font-size: 18px;
		}
	}
}

.articles-list{
	.al-item{
		padding-bottom: 22px;
		margin-bottom: 22px;
		border-bottom: 1px solid #dce2e7;

		&:last-child{
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
	}
}