.pagination{
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;

	li{
		margin: 0 2px;

		a{
			width: 24px;
			height: 24px;
			line-height: 20px;
			border-radius: 50%;
			color: $text-color;
			font-size: 16px;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding-top: 2px;

			&:hover{
				background: #07788e;
				color: #fff;
			}
		}

		&.current{
			a{
				background: rgba(#07788e, .6);
				color: #fff;
				cursor: default;
				pointer-events: none;
			}
		}

		&.prev,
		&.next{
			a{
				padding-top: 0;
				color: #fff;
				font-size: 19px;
				font-weight: 400;
				background: $primary;

				&:hover{
					background: darken($primary, 10%);
				}
			}

			span{
				transform: scaleX(.6);
			}
		}

		&.prev{
			margin-right: 18px;
		}

		&.next{
			margin-left: 18px;
		}
	}
}