.directions-section{
	padding: 45px 0 40px;

	.section-inner{
		display: flex;
		position: relative;

		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background: #e7e7ec;
			position: absolute;
			left: 0;
			bottom: -40px;
		}
	}

	.section-text{
		width: 380px;
		flex: none;
		padding-right: 20px;
	}

	.section-directions{
		flex: auto;
	}
}

.directions-list{
	display: flex;

	.item{
		width: 50%;
		flex: none;
	}
}

.direction-card{
	width: 100%;
	height: 100%;
	background: $lightblue;
	position: relative;
	padding: 40px 30px;
	color: #fff;
	min-height: 280px;

	&.dark{
		background: $primary;
	}

	.card-caption{
		font-size: 28px;
		line-height: 1;
		font-weight: bold;
		margin-bottom: 15px;
	}

	p{
		margin-bottom: 15px;
	}

	.price{
		font-weight: bold;
		display: block;
		font-size: 22px;
		line-height: 1.07;
	}

	.card-content{
		max-width: 185px;
	}

	.card-image{
		position: absolute;
		right: 0;
		bottom: 0;
		width: 270px;
		height: 260px;

		img{
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
			object-fit: contain;
			object-position: right bottom;
			font-family: 'object-fit: contain; object-position: right bottom;';
		}
	}
}