.first-screen-section{
	position: relative;
	z-index: 20;

	.section-features{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 15px 0;
		background: rgba($primary, .78);
		color: #fff;
		min-height: 100px;

		@media screen and (max-width: 991px){
			padding: 15px 40px;
			display: flex;
			align-items: center;
		}
	}
}

.big-slider{
	margin: 0 -15px !important;

	@media screen and (max-width: 991px){
		margin: 0 -10px !important;
	}

	.slide{
		height: 615px !important;
		display: flex;
		position: relative;
		align-items: center;
		padding: 100px 0 200px;
		overflow: hidden;
	}

	.slide-content{
		padding-left: 60px;
		width: 475px;

		p{
			font-size: 22px;
			line-height: 1.35;
			color: #495c6c;
			margin-bottom: 25px;
		}
	}

	.slide-image{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-100px);
		width: 840px;
		height: 580px;

		img{
			width: 100%;
			height: 100%;
			display: block;
			object-fit: contain;
			object-position: right bottom;
			font-family: 'object-fit: contain; object-position: right bottom;';
		}
	}

	.slick-dots{
		position: absolute;
		bottom: 140px;
		left: 50%;
		z-index: 20;
		transform: translateX(calc(-1140px / 2 + 60px));
	}

	.slick-arrow{
		position: absolute;
		left: 50% !important;
		right: auto !important;
		z-index: 20;

		&.slick-prev{
			transform: translate(calc(-1140px / 2), -110px);
		}

		&.slick-next{
			transform: translate(calc(1140px / 2 - 21px), -110px);
		}
	}

	@media screen and (max-width: 1199px){
		.slick-dots{
			transform: translateX(calc(-930px / 2 + 60px));
		}

		.slick-arrow{
			&.slick-prev{
				transform: translate(calc(-930px / 2), -110px);
			}

			&.slick-next{
				transform: translate(calc(930px / 2 - 21px), -110px);
			}
		}
	}

	@media screen and (max-width: 991px){
		.slide{
			height: 515px !important;
			padding: 50px 0 150px;
		}

		.slide-content{
			padding-left: 40px;
			width: 440px;
		}

		.slide-image{
			transform: translateX(-30px);
			width: 709px;
			height: 486px;

			img{
				object-fit: contain;
				object-position: left bottom;
				font-family: 'object-fit: contain; object-position: left bottom;';
			}
		}

		.slick-dots{
			transform: translateX(calc(-737px / 2 + 40px));
		}

		.slick-arrow{
			&.slick-prev{
				transform: translate(calc(-737px / 2), -85px);
			}

			&.slick-next{
				transform: translate(calc(737px / 2 - 21px), -85px);
			}
		}

		.page-caption{
			margin-bottom: 15px;
		}
	}

	@media screen and (max-width: 767px){
		.slide-content{
			width: 100%;
		}

		.slide-image{
			display: none;
		}

		.slick-dots{
			transform: translateX(calc(-535px / 2 + 40px));
		}

		.slick-arrow{
			&.slick-prev{
				transform: translate(calc(-535px / 2), -85px);
			}

			&.slick-next{
				transform: translate(calc(535px / 2 - 21px), -85px);
			}
		}
	}

	@media screen and (max-width: 575px){
		.slick-dots{
			transform: translateX(0);
			left: 50px;
		}

		.slick-arrow{
			&.slick-prev{
				transform: translateY(-50%);
				left: 20px !important;
			}

			&.slick-next{
				transform: translateY(-50%);
				right: 20px !important;
				left: auto !important;
			}
		}

		.slide-content{
			p br{
				display: none;
			}
		}
	}
}

.feature-card{
	display: flex;
	align-items: center;
	height: 100%;

	.card-icon{
		width: 50px;
		height: 40px;
		margin-right: 20px;
		flex: none;
		fill: #fff;
	}

	.card-caption{
		font-size: 14px;
		line-height: 1;
		margin-bottom: 8px;
	}

	p{
		font-size: 15px;
		line-height: 1.07;
	}

	@media screen and (max-width: 991px){
		.card-icon{
			width: 40px;
			margin-right: 15px;
		}

		p{
			font-size: 13px;

			br{
				display: none;
			}
		}
	}
}

@media screen and (max-width: 991px){
	.features-slider{
		width: calc(100% + 10px * 2);
		margin-left: -10px;
		margin-right: -10px;
		
		.slide{
			padding-left: 10px;
			padding-right: 10px;
		}

		.slick-arrow{
			&.slick-prev{
				left: -30px !important;
			}

			&.slick-next{
				right: -30px !important;
			}
		}
	}
}

@media screen and (max-width: 575px){
	.features-slider{
		width: calc(100% + 10px * 2);
		margin-left: -10px;
		margin-right: -10px;
		
		.slide{
			padding-left: 10px;
			padding-right: 10px;
		}

		.slick-arrow{
			&.slick-prev{
				left: -30px !important;
			}

			&.slick-next{
				right: -30px !important;
			}
		}
	}
}