.prices-section{
	padding: 55px 0 25px;

	.section-caption{
		margin-bottom: 40px;
	}
}

.price-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 60px;
	padding: 15px 25px;
	border-bottom: 1px solid #d7e8ed;

	&:last-child{
		border-bottom: 0;
	}

	.row-label{
		font-size: 15px;
		line-height: 22px;
	}

	.row-value{
		font-size: 22px;
		line-height: 26px;
		font-weight: bold;
		text-align: right;
		width: 100px;
		flex: none;
	}
}